.txtnama {
	background-color: lightblue;
	padding:5px;
	margin:5px;
	border: 1px solid lightgreen;
	border-radius: 12px;
}
.tombol{
	background-color: #6D749B ;
	border-radius: 15px;
	border: 0px solid darkblue;
	padding: 8px;
	margin: 12px;
	color: white;
	font-weight:bold;
	font-family: Copperplate;
}
.tombol:hover{
	background-color:darkblue;
	color: yellow;
	font-family: Copperplate;
}
.formtabel{
	border: 1px solid gray;
	background-color: lightgray;
}
td{
	border:1px solid darkblue;
	padding: 5px;
	font-family:Courier New;
}